.container {
  max-width: 900px;
  margin: 5rem auto;
}
.special__heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-inline: 5rem;
  padding-bottom: 2rem;
}

.special__title {
  text-align: center;
}

.orderBtn {
  background-color: #F4CE15;
  font-weight: bold;
  color: #000000;
  border: none;
  border-radius: 16px;
  padding: 10px 16px;
}

.card {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

@media(min-width: 785px) {

  .special__heading {
    flex-direction: row;
    justify-content: space-between;
  }

  .special__title {
    text-align: left;
  }
}