ul li {
  list-style: none;
}

.footernav__bar {
  display: flex;
  flex-direction: column;
}

.footernav__bar a {
  text-decoration: none;
  color: inherit;
}

@media(min-width: 775px) {
  .footernav__bar a {
    text-align: left;
  }
}