.nav__bar {
  display: flex;
  
  ul {
    display: flex;
    gap: clamp(0.25rem, 2vw, 5rem);
  }

  ul li {
    list-style: none;
  
    a {
      text-decoration: none;
      color: inherit;
    }
  }
}

.desktop__nav {
  display: none;
}

@media(min-width: 700px) {
  
  .mobile__nav {
    display: none;
  }

  .desktop__nav {
    display: unset;
  }
}