.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1000px;
  margin: 5rem auto;
}

.heading {
  text-align: center;
}

.testimonial__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}