.header {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
}

.header__img {
  width: 150px;
}

@media(min-width: 785px) {

  .header {
    padding: 2rem 5rem;
    justify-content: space-between;    
  }
}