.testimonial__card {
  background-color: #EDEFEE;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  max-width: 275px;
  padding: 1rem;
  border-radius: 16px;
}

.testimonial__card__rating h2 {
  font-size: 1rem;
}

.testimonial__card__user {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.testimonial__card__user img {
  max-width: 50px;
  object-fit: cover;
  aspect-ratio: 1 / 1;
  border-radius: 100%;
  border: 2px solid #F4CE14;
}

.testimonial__card__quote {
  max-width: 300px;
  font-size: .875rem;
}