.testimonial__card {
  background-color: #EDEFEE;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  max-width: 275px;
  padding: 1rem;
  border-radius: 16px;
}

.testimonial__card__rating h2 {
  font-size: 1rem;
}

.testimonial__card__user {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.testimonial__card__user__icon {
  background-color: black;
  border-radius: 100%;
  padding: .375rem .5rem;
  font-size: 1.5rem;
  color: #EDEFEE;
}

.testimonial__card__quote {
  max-width: 300px;
  font-size: .875rem;
}